* {
	box-sizing: border-box;
	}
	h1 {
		text-align: center;
		font-weight: bold;
	}
	#ch1{
		background-color: #FFC9E0;
		color: black;
	}
	#ch2{
		background-color: #F24343;
		color: black;
	}
	#ch3{
		background-color: #FFC18D;
		color: black;
	}
	.part {
		background-color: #D2C7C5;
		border: 2px solid black;
		font-family: Helvetica;
		color: black;
		padding: 3px;
		position: relative;
		margin-top: 20px;
		margin-right: 20px;
	}
	p {
		position: relative;
		padding: 15px 5px 0px 5px;
		font-family: Helvetica;
	}
	span {
		font-size: 20px;
		width: 150px;
		font-weight: bold;
		border: 1px solid black;
		text-align: center;
		position: absolute;
		float: right; top: 0; right: 0; margin: 0;
	}
	.row {
		width: 100%;
	}
	@media (min-width: 992px) {
		.col-lg-4 {
		width: 33.33%;
		float: left;
	}
	} 
	@media (min-width: 768px) and (min-width: 991px){
		.col-md-6 {
		width: 50%;
		float: left;
	}
		.col-md-12 {
		width: 100%;
		float: left;
	}
	} 
	@media (min-width: 767px) {
		.col-sx-12 {
		width: 100%;
		float: left;
	}
	}